@{
    ViewBag.Title = "Manage Pages";
}

<admin-header>
    <row>
        <admin-header-title title="@await Html.Resource("Admin Nav Pages", "Pages")"/>
        <admin-header-actions>
        </admin-header-actions>
    </row>
</admin-header>

<card>
    <card-body>
        <div id="web" data-webpage-tree>
            <div id="webpage-tree">
            </div>
        </div>

        <hr/>
        <strong>@await Html.Resource("Key"):</strong>
        <span class="badge badge-outline text-secondary">@await Html.Resource("Admin Webpage Index Not Included In Navigation", "Not included in site navigation")</span>
        <span class="badge badge-outline text-warning">@await Html.Resource("Admin Webpage Index Not published", "Not published")</span>
    </card-body>
</card>


