@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutRoot.cshtml";
}
<div class="page">
    <aside class="navbar navbar-vertical navbar-expand-lg navbar-dark" id="sidebar">
        <partial name="Sidebar"/>
    </aside>

    <header class="navbar navbar-expand-md navbar-light d-none d-lg-flex d-print-none sticky-top navbar-blured py-2">
        <partial name="Navbar"/>
    </header>


    <section class="page-wrapper">
        <div class="container-xl">
            <partial name="Breadcrumbs"/>
            <div class="page-body mt-0">
                <partial name="Messages"/>
                @RenderBody()
            </div>
        </div>
    </section>

</div>

@if (IsSectionDefined("JavaScriptBlock"))
{
    DefineSection("JavaScriptBlock", () =>
    {
        Write(RenderSection("JavaScriptBlock"));
        return Task.CompletedTask;
    });
}