@{
    Layout = "_LayoutRoot.cshtml";
}

<div class="w-100 h-100">
    <partial name="Messages"/>
    @RenderBody()
</div>


@if (IsSectionDefined("JavaScriptBlock"))
{
    @await RenderSectionAsync("JavaScriptBlock")
}