@using MrCMS.Services
@using MrCMS.Settings
@using System.Drawing
@inject SiteSettings Settings
@inject IGetCurrentUser GetCurrentUser
@{
    var currentUser = await GetCurrentUser.Get();
}

<div class="container-xl">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav flex-row order-md-last">
        <div class="d-none d-md-flex">
            <a href="?theme=dark" class="nav-link px-0 hide-theme-dark" title="Enable dark mode" data-bs-toggle="tooltip" data-bs-placement="bottom">
                <i class="ti ti-moon fs-2"></i>
            </a>
            <a href="?theme=light" class="nav-link px-0 hide-theme-light" title="Enable light mode" data-bs-toggle="tooltip" data-bs-placement="bottom">
                <i class="ti ti-sun fs-2"></i>
            </a>
            @if (!currentUser.DisableNotifications)
            {
                <partial name="PersistentNotificationNav"/>
            }
        </div>
        <partial name="UserActions"/>
    </div>
    <div class="collapse navbar-collapse" id="navbar-menu">
        <div>
            <form action="@Url.Action("Index", "Search")" method="GET">
                <div class="input-icon">
                    <span class="input-icon-addon">
                        <i class="ti ti-search fs-2"></i>
                    </span>
                    @Html.TextBox("term", "", new { @class = "search-query form-control", data_search_item_term = true, placeholder = "Search", autocomplete = "off", tabindex = "1" })
                </div>
            </form>
        </div>
    </div>
</div>