@model dynamic
<div class="nav-item dropdown d-none d-md-flex me-3" id="persistentNotificationLink" data-mark-as-read-url="@Url.Action("MarkAllAsRead", "PersistentNotification")">
    <a href="#" class="nav-link px-0" data-bs-toggle="dropdown" tabindex="-1" aria-label="Show notifications">
        <i class="ti ti-bell fs-2"></i>
        <span class="badge bg-red" data-notification-count="true"></span>
    </a>
    <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-end dropdown-menu-card notifications-dropdown">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <h3 class="card-title">@await Html.Resource("Last updates")</h3>
                <a href="@Url.Action("Index", "Notification")">@await Html.Resource("Admin View All", "View All")</a>
            </div>
            <div data-notification-list="true" class="list-group list-group-flush list-group-hoverable">
                @await Html.Resource("Admin No Notifications", "No Notifications")
            </div>
        </div>
    </div>
</div>