@using MrCMS.Settings
@using System.Drawing
@using MrCMS.Services
@inject SiteSettings Settings
@inject IGetCurrentUser GetCurrentUser
@inject ICurrentSiteLocator CurrentSiteLocator
@{
    var user = await GetCurrentUser.Get();
    // var avatarImg = !string.IsNullOrEmpty(user.AvatarImage) ? user.AvatarImage : "https://via.placeholder.com/160";
    // var site = CurrentSiteLocator.GetCurrentSite();
}

<div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <h1 class="navbar-brand navbar-brand-autodark border-bottom">
        <a href="@Url.Action("Index", "Home", new { area = "Admin" })">
            @{
                var adminLogo = Settings.AdminLogo;
            }
            @if (!string.IsNullOrWhiteSpace(adminLogo))
            {
                @await Html.RenderImage(adminLogo, new Size(0, 32), attributes: new { @class = "navbar-brand-image" })
            }
            else
            {
                <img src="/Areas/Admin/Content/img/logo.svg" class="navbar-brand-image" alt="dashboard logo"/>
            }
        </a>
    </h1>
    <div class="navbar-nav flex-row d-lg-none">
        <partial name="UserActions"/>
    </div>
    <vc:nav-links/>
</div>
@*<div class="sidebar">

    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="@avatarImg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
        </div>
    </div>

    

</div>*@