@model MrCMS.Entities.Documents.Web.FormPosting 
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml"; }
@using (Html.BeginForm("DeleteEntry", "Form", FormMethod.Post))
{
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                @await Html.Resource("Admin Form Delete Entry Title", "Delete Entry")
            </h5>
            <button type="submit" class="btn btn-danger">
                <i class="icon ti ti-trash"></i>
                @await Html.Resource("Delete")
            </button>
        </div>
        <div class="modal-body">
            @await Html.Resource("Admin Form Delete Entry warning", "Are you sure you want to delete this entry?")
        </div>
    </div>
}