@using System.Linq
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using MrCMS.Entities.Documents.Web
@using MrCMS.Entities.Documents.Web.FormProperties
@using MrCMS.Web.Admin.Infrastructure.TagHelpers
@model Form

<div id="form-properties-data" data-reload-url="@Url.Action("FormProperties", "Form", new { Model.Id })">
    @Html.InfoBlock("Heads up!", "Start by adding fields to your form using the Add Field button. Once all fields are added, use <b class='text-black'>[form id=\"" + Model.Id + "\"]</b> in the page body content to embded the form where you would like it.")
    <admin-header>
        <row>
            <admin-header-title title="@await Html.Resource("Admin Webpage Form Fields", "Form Fields") "/>

            <admin-header-actions>
                <a asp-action="Sort" asp-controller="Form" asp-route-id="@Model.Id" class="btn btn-icon btn-dark" data-toggle="fb-modal" data-bs-toggle="tooltip" data-bs-placement="top" title="@await Html.Resource("Sort")">
                    <i class="icon ti ti-sort-descending-2"></i>
                </a>
                <a asp-action="Add" asp-controller="FormProperty" asp-route-id="@Model.Id" class="btn-primary btn" data-toggle="fb-modal">
                    <i class="icon ti ti-file-plus"></i>
                    @await Html.Resource("Admin Webpage Form Add Field", "Add Field")
                </a>
            </admin-header-actions>
        </row>
    </admin-header>

    @if (Model.FormProperties.Any())
    {
        <partial name="FormPropertyList" model="Model.FormProperties"/>
    }
    else
    {
        @await Html.Resource("Admin Webpage Form No Fields", "No form fields added")
    }
</div>