@model MrCMS.Web.Admin.Models.UpdateRoleModel
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml"; }
@using (Html.BeginForm("Delete", "Role", FormMethod.Post))
{
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                @await Html.Resource("Admin User Roles Delete", "Delete role")
            </h5>
            <button type="submit" class="btn btn-danger">
                <i class="icon ti ti-trash"></i>
                @await Html.Resource("Delete")
            </button>
        </div>
        <div class="modal-body">
            @Html.InfoBlock("Warning", await Html.Resource("Admin Layout Delete Warning", "Deleting this cannot be undone."), AlertType.danger)
        </div>
    </div>
}