@model MrCMS.Web.Admin.Models.UpdateRoleModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";
}
<form asp-controller="Role" asp-action="Edit" method="post">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                @await Html.Resource("Admin User Roles Edit", "Edit Role")
            </h5>
            <button type="submit" class="btn btn-primary">
                <i class="icon ti ti-device-floppy"></i>
                @await Html.Resource("Save")
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label asp-for="Name" class="from-label"></label>
                <input asp-for="Name" type="text" class="form-control"/>
                <span asp-validation-for="Name"></span>
            </div>
        </div>
    </div>
</form>