@model MrCMS.Web.Admin.Models.AddLayoutAreaModel
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml"; }

<form asp-action="Add" asp-controller="LayoutArea" method="post">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                @await Html.Resource("Admin Layout Areas Add Title", "Add layout area")
            </h5>
            <button type="submit" class="btn btn-primary">
                <i class="icon ti ti-device-floppy"></i>
                @await Html.Resource("Save")
            </button>
        </div>
        <div class="modal-body">
            <input type="hidden" asp-for="LayoutId"/>
            <div class="form-group">
                <label asp-for="AreaName" class="form-label"></label>
                <input type="text" asp-for="AreaName" class="form-control"/>
                <span asp-validation-for="AreaName"></span>
            </div>
        </div>
    </div>
</form>