@model MrCMS.Web.Admin.Models.UpdateLayoutAreaModel
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml"; }
@using (Html.BeginForm("Delete", "LayoutArea", new { id = Model.Id }, FormMethod.Post, null, new { style = "display:inline;" }))
{
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                @await Html.Resource("Admin Layout Areas Delete Title", "Delete layout area")
            </h5>
            <button type="submit" class="btn btn-danger">
                <i class="icon ti ti-trash"></i>
                @await Html.Resource("Delete")
            </button>
        </div>
        <div class="modal-body">
            @Html.InfoBlock(await Html.Resource("Warning") + "!", await Html.Resource("Admin Layout Area Delete Info", "Deleting this area can not be undone."), AlertType.danger)
        </div>
    </div>
}