@using System.Drawing
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using MrCMS.Web.Admin.ACL
@using MrCMS.Web.Admin.Helpers
@using MrCMS.Web.Admin.Services
@using X.PagedList.Mvc.Core
@model MrCMS.Web.Admin.Models.MediaCategorySearchModel
@inject IFileAdminService FileAdminService
@{
    var canAccessMediaToolsCut = await Html.CanAccess<MediaToolsACL>(MediaToolsACL.Cut);
    var canAccessMediaToolsDelete = await Html.CanAccess<MediaToolsACL>(MediaToolsACL.Delete);
    var sortByOptions = FileAdminService.GetSortByOptions(Model);
}


<div class="row" data-update-media-directory="@Url.Action("Directory", "MediaCategory", Model)">
    <div class="col-md-2">
        <partial name="DirectoryFolders" model="Model"/>
    </div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-header card-header-light justify-content-between">
                <div class="d-flex align-items-baseline">
                    <h3>@await Html.Resource("All Files")</h3>
                    @if (canAccessMediaToolsCut || canAccessMediaToolsDelete)
                    {
                        <span class="border-start ms-3 ps-3" id="file-tools">
                            @{
                                if (canAccessMediaToolsCut)
                                {
                                    <button id="cut-files" class="btn btn-white btn-icon" disabled data-bs-toggle="tooltip" data-bs-placement="bottom" title="@await Html.Resource("Cut")">
                                        <i class="icon ti ti-cut"></i>
                                    </button>
                                }
                                <button id="paste-files" class="btn btn-white btn-icon" disabled data-bs-toggle="tooltip" data-bs-placement="bottom" title="@await Html.Resource("Paste")">
                                    <i class="icon ti ti-layers-subtract"></i>
                                </button>
                                if (canAccessMediaToolsDelete)
                                {
                                    <button id="delete-files" class="btn btn-white btn-icon" disabled data-bs-toggle="tooltip" data-bs-placement="bottom" title="@await Html.Resource("Delete")">
                                        <i class="icon ti ti-trash"></i>
                                    </button>
                                }
                                <button id="clear-files" class="btn btn-white btn-icon" data-bs-toggle="tooltip" data-bs-placement="bottom" title="@await Html.Resource("Clear")">
                                    <i class="icon ti ti-eraser"></i>
                                </button>
                            }
                        </span>
                    }

                </div>
                <div>
                    <form method="get">
                        <div class="row g-2 justify-content-end">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" asp-for="SearchText" class="form-control" placeholder="@await Html.Resource("Search for…")"/>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <select asp-for="SortBy" asp-items="@sortByOptions" class="form-control select-2 "></select>
                                </div>
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-white btn-icon">
                                    <i class="icon ti ti-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-body">
                <partial name="DirectoryFiles" model="Model"/>
            </div>
        </div>
    </div>
</div>