@using MrCMS.Web.Admin.Services

@model MrCMS.Web.Admin.Models.MediaCategorySearchModel

@inject IFileAdminService FileAdminService
@{
    var category = await FileAdminService.GetCategory(Model);
}

<div class="card card-stacked mb-3">
    <div class="card-body">
        <partial name="MediaCategoryUpload" model="category"/>
    </div>
</div>

<partial name="Directory" model="Model"/>