@model dynamic

<form asp-controller="FileMigration" asp-action="Migrate" method="post">
    <button type="submit" class="btn btn-primary">
        <i class="icon ti ti-arrows-double-sw-ne"></i>
        @await Html.Resource("Admin Queue File Migration", "Queue any required migrations")
    </button>
</form>