@model MrCMS.Web.Admin.Models.AddFormPropertyModel
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml"; }

<form method="post" asp-action="Add" asp-controller="FormProperty" class="form-update-form" id="add-property">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                @await Html.Resource("Admin Form Add Field Title", "Add Field")
            </h5>
            <button type="submit" class="btn btn-primary submit-form-btn">
                <i class="icon ti ti-device-floppy"></i>
                @await Html.Resource("Admin Form Add Field Button", "Add form property")
            </button>
        </div>
        <div class="modal-body">
            <input type="hidden" asp-for="FormId"/>

            <div class="form-group mb-3">
                <select asp-for="PropertyType" asp-items="@ViewData["property-types"] as IEnumerable<SelectListItem>" class="form-select"></select>
                <span asp-validation-for="PropertyType"></span>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" type="text" class="form-control"/>
                        <span asp-validation-for="Name"></span>
                        <small class="form-hint">@await Html.Resource("FormPropertyName-hint", "The HTML name of the input field.")</small>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label asp-for="HtmlId" class="form-label"></label>
                        <input asp-for="HtmlId" type="text" class="form-control"/>
                        <span asp-validation-for="HtmlId"></span>
                        <small class="form-hint">@await Html.Resource("FormPropertyHtmlId-hint", "The HTML Id of the input field.")</small>
                    </div>
                </div>
            </div>

            <div class="form-group mb-3">
                <label asp-for="LabelText" class="form-label"></label>
                <input asp-for="LabelText" type="text" class="form-control"/>
                <span asp-validation-for="LabelText"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="CssClass" class="form-label"></label>
                <input asp-for="CssClass" type="text" class="form-control"/>
                <span asp-validation-for="CssClass"></span>
            </div>

            <div class="form-group mb-3">
                <div class="form-check">
                    <input asp-for="Required" type="checkbox" class="form-check-input"/>
                    <label asp-for="Required" class="form-check-label"></label>
                </div>
            </div>
        </div>
    </div>
</form>