@model MrCMS.Web.Admin.Models.UpdateFormPropertyModel
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml"; }

<form asp-action="Edit" asp-controller="FormProperty" asp-route-id="@Model.Id" method="post" class="form-update-form">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                @await Html.Resource("Admin Form Edit Field Title", "Edit field")
            </h5>
            <button type="submit" class="btn btn-primary submit-form-btn">
                <i class="icon ti ti-device-floppy"></i>
                @await Html.Resource("Save")
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" type="text" class="form-control"/>
                <span asp-validation-for="Name"></span>
                <small class="form-hint">@await Html.Resource("FormPropertyName-hint", "The HTML name of the input field.")</small>
            </div>
            <div class="form-group mb-3">
                <label asp-for="LabelText" class="form-label"></label>
                <input asp-for="LabelText" type="text" class="form-control"/>
                <span asp-validation-for="LabelText"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="CssClass" class="form-label"></label>
                <input asp-for="CssClass" type="text" class="form-control"/>
                <span asp-validation-for="CssClass"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="HtmlId" class="form-label"></label>
                <input asp-for="HtmlId" type="text" class="form-control"/>
                <span asp-validation-for="HtmlId"></span>
            </div>
            @if (Model.ShowPlaceholder)
            {
                <div class="form-group mb-3">
                    <label asp-for="Placeholder" class="form-label"></label>
                    <input asp-for="Placeholder" type="text" class="form-control"/>
                    <span asp-validation-for="Placeholder"></span>
                </div>
            }
            <div class="form-group mb-3">
                <div class="form-check">
                    <input asp-for="Required" type="checkbox" class="form-check-input"/>
                    <label asp-for="Required" class="form-check-label"></label>
                </div>
            </div>
        </div>
    </div>

</form>