@model MrCMS.Web.Admin.Models.AddUserModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";
    var cultureOptions = ViewData["culture-options"] as List<SelectListItem> ?? new List<SelectListItem>();
}
<form asp-controller="User" asp-action="Add" method="post">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                @await Html.Resource("Admin User Add User", "Add user")
            </h5>
            <button type="submit" class="btn btn-primary">
                <i class="icon ti ti-device-floppy"></i>
                @await Html.Resource("Save")
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label asp-for="FirstName" class="form-label"></label>
                        <input asp-for="FirstName" type="text" class="form-control"/>
                        <span asp-validation-for="FirstName"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label asp-for="LastName" class="form-label"></label>
                        <input asp-for="LastName" type="text" class="form-control"/>
                        <span asp-validation-for="LastName"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" type="password" class="form-control"/>
                        <span asp-validation-for="Password"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label asp-for="ConfirmPassword" class="form-label"></label>
                        <input asp-for="ConfirmPassword" type="password" class="form-control"/>
                        <span asp-validation-for="ConfirmPassword"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" type="text" class="form-control"/>
                        <span asp-validation-for="Email"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group mb-3">
                        <label asp-for="UICulture" class="form-label"></label>
                        <select asp-for="UICulture" asp-items="@cultureOptions" class="form-select"></select>
                        <span asp-validation-for="UICulture"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group mb-3">
                        @Html.InlineCheckboxFor(x => x.IsActive, "User is active")
                        <span asp-validation-for="IsActive"></span>
                    </div>
                </div>
            </div>


            @Html.ValidationSummary()
        </div>
    </div>
</form>