@using MrCMS.Settings
@model List<SystemSettingsBase>
@{
    ViewBag.Title = "Edit Settings";
}
@if (TempData["settings-saved"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @await Html.Resource("Admin Settings Saved", "Settings saved")
    </div>
}
<form asp-controller="SystemSettings" asp-action="Index" method="post" id="edit-settings">
    <admin-header>
        <row>
            <admin-header-title title="@await Html.Resource("admin-system-settings", "System Settings") "/>

            <admin-header-actions>
                <button class="btn btn-primary">
                    <i class="icon ti ti-device-floppy"></i>
                    @await Html.Resource("Save")
                </button>
            </admin-header-actions>
        </row>
    </admin-header>

    <div class="row" id="tabs">
        <div class="col-12 col-md-3 px-4">
            <ul class="nav list-group list-group-transparent mb-3 ml-3 position-sticky" style="top: 80px" data-stickytabs="system-settings">
                @foreach (SystemSettingsBase settingType in Model)
                {
                    var type = settingType.GetType();
                    var typeName = type.Name;
                    <li class="nav-item">
                        <a class="list-group-item list-group-item-action d-flex align-items-center" href="#@typeName" data-bs-toggle="tab">
                            @typeName.BreakUpString()
                            <small class="text-muted ms-auto">@(type.GetProperties().Length - typeof(SystemSettingsBase).GetProperties().Length)</small>
                        </a>
                    </li>
                }
            </ul>
        </div>
        <div class="col-12 col-md-9">
            <div class="tab-content">
                @foreach (SystemSettingsBase settingType in Model)
                {
                    <partial name="SystemSettings" model="settingType"/>
                }
            </div>
        </div>
    </div>
</form>