@model MrCMS.Settings.MailSettings
<form asp-controller="SystemSettings" asp-action="Mail" method="post">

    <admin-header>
        <row>
            <admin-header-title title="@await Html.Resource("admin-settings-mail", "Mail Settings") " />

            <admin-header-actions>
                <button class="btn btn-primary">
                    <i class="icon ti ti-device-floppy"></i>
                    @await Html.Resource("Save")
                </button>
            </admin-header-actions>
        </row>
    </admin-header>
    <card>
        <card-body>
            <div class="form-group mb-3 row">
                <label asp-for="SystemEmailAddress" class="col-3 col-form-label"></label>
                <div class="col">
                    <input asp-for="SystemEmailAddress" type="text" class="form-control"/>
                    <span asp-validation-for="SystemEmailAddress"></span>
                </div>
            </div>
            <div class="form-group mb-3 row">
                <label asp-for="Host" class="col-3 col-form-label"></label>
                <div class="col">
                    <input asp-for="Host" type="text" class="form-control"/>
                    <span asp-validation-for="Host"></span>
                </div>
            </div>
            <div class="from-group mb-3 row">
                <label asp-for="UseSSL" class="col-3 col-form-label"></label>
                <div class="col">
                    <label class="form-check form-switch my-2">
                        <input asp-for="UseSSL" type="checkbox" class="form-check-input"/>
                    </label>
                </div>
            </div>
            <div class="form-group mb-3 row">
                <label asp-for="UserName" class="col-3 col-form-label"></label>
                <div class="col">
                    <input asp-for="UserName" type="text" class="form-control"/>
                    <span asp-validation-for="UserName"></span>
                </div>
            </div>
            <div class="form-group mb-3 row">
                <label asp-for="Password" class="col-3 col-form-label"></label>
                <div class="col">
                    <input asp-for="Password" type="text" class="form-control"/>
                    <span asp-validation-for="Password"></span>
                </div>
            </div>
            <div class="form-group mb-3 row">
                <label asp-for="Port" class="col-3 col-form-label"></label>
                <div class="col">
                    <input asp-for="Port" type="text" class="form-control"/>
                    <span asp-validation-for="Port"></span>
                </div>
            </div>
        </card-body>
    </card>
</form>

<partial name="TestEmailSettings" model="null"/>