@model MrCMS.Entities.Documents.Web.UrlHistory
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";
}

<form asp-controller="Redirects" asp-action="MarkAsIgnored" asp-route-id="@Model.Id">
    @Html.ReturnToReferrer()
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                @await Html.Resource("Mark as ignored")
            </h5>
            <button type="submit" class="btn btn-warning">
                @await Html.Resource("Mark as ignored")
            </button>
        </div>
        <div class="modal-body">
            @Html.InfoBlock("Warning", string.Format(await Html.Resource("Redirects - Mark as ignored", "Are you sure you wish to mark '{0}' as ignored?"), Model.UrlSegment), AlertType.warning)
        </div>
    </div>
</form>