@model MrCMS.Entities.Documents.Layout.Layout
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml"; }
@using (Html.BeginForm("Delete", "Layout", new { id = Model.Id }, FormMethod.Post, null, new { style = "display:inline;" }))
{
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                @await Html.Resource("Admin Add Layout Delete Title", "Delete layout")
            </h5>
            <button type="submit" class="btn btn-danger">
                <i class="icon ti ti-trash"></i>
                @await Html.Resource("Delete")
            </button>
        </div>
        <div class="modal-body">
            @Html.InfoBlock("Warning", await Html.Resource("Admin Layout Delete Warning", "Deleting this layout can not be undone and will delete all areas within the layout. This will also revert any pages that were using this layout to the site default"), AlertType.danger)
        </div>
    </div>
}