@model int
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml"; }
@using (Html.BeginForm("Set", "Layout", new { id = "" }, FormMethod.Post, null, new { @class = "update-parent-form" }))
{
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                @await Html.Resource("Admin Layouts Move Title", "Move Layout")
            </h5>
            <button type="submit" class="btn btn-primary">
                <i class="icon ti ti-arrows-move"></i>
                @await Html.Resource("Move")
            </button>
        </div>
        <div class="modal-body">
            @Html.Hidden("id", Model)
            <div class="form-group">
                @Html.Label("parentVal", "Layout", new { @class = "form-label" })
                @Html.DropDownList("parentVal", ViewData["valid-parents"] as IEnumerable<SelectListItem>, new { @class = "select2 form-select", @style = "width:100%;" })
            </div>
        </div>
    </div>
}