@model System.Collections.Generic.List<MrCMS.Models.SortItem>
@{
    ViewBag.Title = "Sort Layouts";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<form method="POST" id="sort-layouts" class="mt-3">
    <admin-header>
        <row>
            <admin-header-title title="@await Html.Resource("admin-sort", "Sort") "/>

            <admin-header-actions>
                <a href="@Url.Action("Index", "Layout")" class="btn btn-dark">
                    <i class="icon ti ti-arrow-back"></i>
                    @await Html.Resource("admin-back", "Back")
                </a>
                <button class="btn btn-primary">
                    <i class="icon ti ti-device-floppy"></i>
                    @await Html.Resource("admin-save", "Save")
                </button>
            </admin-header-actions>
        </row>
    </admin-header>
    <card>
        <card-body>
            <ul data-sortable class="list-group">
                @for (var i = 0; i < Model.Count; i++)
                {
                    <li class="list-group-item cursor-grab bg-white">
                        <div class="row align-items-center">
                            <div class="col text-truncate">
                                @Html.HiddenFor(model => model[i].Id)
                                @Html.HiddenFor(model => model[i].Order)
                                <div class="text-reset d-block">@Model[i].Name</div>
                            </div>
                            <div class="col-auto">
                                <span class="list-group-item-actions">
                                    <i class="icon ti ti-drag-drop-2"></i>
                                </span>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </card-body>
    </card>
</form>